.younited-logo{
    width: 150px;
}

.bestprice-bloc .bestprice-action{
    display:flex;
    align-items: center;
    cursor:pointer;
}

@media (max-width: 768px) {
    .bestprice-bloc .bestprice-desc{
        text-align: center;
    }

    .bestprice-bloc .bestprice-action{
        justify-content: center;
    }
}

.modal-bestprice-box-droite {
    background-color: #f4ecff;
    border: solid #c6a2fe 1px;
    padding: 15px 25px;
}

#modal-bestprice-faq{
    color: black;
    background-color: whitesmoke;
}

#modal-bestprice-faq:hover{
    background-color:white ;
}

#modal-bestprice{
    z-index: 1500;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
    position: fixed;
}

@media (max-width: 800px) {
    #modal-bestprice{
        min-width: 100%;
    }
    .modal-bestprice-left{
        display: none !important;
    }
}

@media (min-width: 801px) {
    #modal-bestprice{
        min-width: 800px;
    }
}

.modal-bestprice{    
    background-color: #fff;
    border: 1px solid #c5a1fe !important;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}



.modal-bestprice-bloc{
    display:flex;
}

.modal-bestprice-left {
    width: 30%;
    background-color: #f9f5ff !important;
    display: flex;
    flex-direction: column;
    height: inherit;
}

.modal-bestprice-right {
    width: 70%;
    background-color: white !important;
    height: inherit;
}



.modal-bestprice-left,
.modal-bestprice-right {
    padding: 1.6rem !important;
    line-height: normal!important;
}

.modal-bestprice-left>img {
    max-width: 100%;
    height: 4rem;
    margin-left: -9px;
    margin-right: auto;
}

.modal-bestprice-left>div {
    margin-top: 1rem!important;
    font-size: 2.5rem!important;
    font-weight: 500 !important;
    display: flex;
    font-family: roc grotesk !important;
}

.modal-bestprice-left>div>span {
    border-bottom: 5px solid #c5a1fe !important;
}

.modal-bestprice-left>ul {
    padding: 0!important;
    list-style: none;
}

.modal-bestprice-left>ul>li {
    color: inherit;
    line-height: inherit;
    text-align: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    font-family: roboto;
    font-weight: inherit;
    margin-bottom: 20px!important;
    margin-top: 9px !important;
}

.modal-bestprice-left>p {
    margin: 0!important;
    margin-top: 4.2em !important;
}

.modal-bestprice-left>p>a {
    color: inherit;
    background-color: #f4ecff;
    font-size: 14px!important;
    border: #c6a2fe solid 1px;
    padding: 15px;
    text-decoration: none !important;
}

.modal-bestprice-left>p>span {
    padding: 4px!important;
    height: 40px!important;
    display: inline-block!important;
    border-radius: 6px!important;
}

.modal-bestprice-left>p>span>img {
    height: 70% !important;
    max-width: 100%;
    display: block;
    vertical-align: middle;
}

.modal-bestprice-right>div:nth-child(1) {
    flex-grow: 1!important;
}

.modal-bestprice-right>div>picture>img {
    z-index: 999920;
    position: relative;
    right: 50%;
    transform: translateX(-50%);
    bottom: 9px;
    cursor: pointer;
    height: 48px;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

.modal-bestprice-right>div>ul {
    list-style: none;
    justify-content: flex-start !important;
    display: flex!important;
    padding-left: 0!important;
    margin-bottom: 0!important;
}

.modal-bestprice-right>div>ul>li {
    text-align: center;
    font-size: 0.9rem!important;
    margin-right: 0.6rem;
    opacity: 0.5;
    cursor: pointer;
}

.modal-bestprice-right>div>ul>li.checked {
    opacity: 1;
}

.modal-bestprice-right>div>ul>li>span {
    transition-duration: .2s!important;
    transition-property: background-color, border-color, color, fill, stroke!important;
    padding: 6px!important;
    margin-bottom: 16px!important;
    display: flex!important;
    border-radius: 2px!important;
    background-color: white !important;
    border: 1px solid blue !important;
}

.modal-bestprice-right>div>ul>li>span>svg {
    display: block;
    vertical-align: middle;
    width: 1.4rem;
    margin-left: -2px!important;
    padding-top: 2px!important;
}

.modal-bestprice-right>div>ul>li>span>div {
    color: black !important;
}

.modal-bestprice-paiement-sans-frais {
    letter-spacing: inherit;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    text-align: inherit;
    margin-top: 10px;
    font-size: 1.2rem;
}

.modal-bestprice-right>div>div>p:nth-child(2) {
    letter-spacing: inherit;
    color: inherit;
    text-align: inherit;
    font-size: x-large;
    font-weight: 400 !important;
    margin-top: 1vw !important;
}

.modal-bestprice-right>div>div.modal-bestprice-content {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.modal-bestprice-right>div>div>div>div {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    justify-content: space-between!important;
    display: flex!important;
    flex-direction: row!important;
}

.modal-bestprice-right>div>div>div>div>span {
    font-size: 14px;
}

.modal-bestprice-right>div>div>div>div>span:nth-child(2) {
    font-weight: 700;
    white-space: nowrap;
}

.modal-bestprice-right>div>div>hr {
    border-top-width: 1px;
}

.modal-bestprice-right>div>div>div.younitedpay-justify-between.total_amount_with_interests {
    font-weight: bold;
}

.modal-bestprice-right>div>p:nth-child(3) {
    letter-spacing: inherit;
    font-family: inherit;
    color: inherit;
    text-align: inherit;
    font-size: inherit;
    font-weight: 400 !important;
    margin-top: 1vw !important;
}

.modal-bestprice-right div.modal-bestprice-button {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-bestprice-right div.modal-bestprice-button button{
    display: flex;
    align-items: center;
}

.modal-bestprice-right div.modal-bestprice-button button,
.modal-bestprice-right div.modal-bestprice-button button:focus,
.modal-bestprice-right div.modal-bestprice-button button:focus-visible {
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase!important;
    color: white;
    height: 48px!important;
    background-color: #c5a1fe !important;
    border: none!important;
}


.modal-bestprice-right>div>ul>li.checked>span {
    background-color: #f4ecff !important;
}


.modal-bestprice .wp-block-columns {
    margin-bottom: 0rem!important;
}

.modal-bestprice .wp-block-columns .wp-block-column:nth-child(2) {
    margin: 0 !important;
}

.modal-bestprice .wp-block-preformatted {
    margin: 0rem!important;
}

.modal-bestprice .italic-text {
    font-style: italic;
    margin-top: 2em !important;
    margin-bottom: 0 !important;
}

.modal-bestprice .bold-text {
    font-weight: 700 !important;
}

.modal-bestprice .blue-text {
    color: blue;
}

.modal-bestprice .roc-text {
    font-family: Roc Grotesk;
}

.modal-bestprice .roboto-text {
    font-family: Roboto;
}

.modal-bestprice .big-text {
    font-size: larger;
}

.modal-bestprice .p-acheter {
    margin-top: 6px!important;
    margin-bottom: 35px !important;
    font-size: medium !important;
}

.modal-bestprice .underline {
    text-decoration: underline !important;
}

.modal-bestprice p {
    margin: 0 !important;
}

@media (min-width: 1050px) {
    .modal-bestprice {
        max-width: 1050px !important;
    }
}

@media (min-width: 1050px) {
    .modal-bestprice {
        max-width: 1050px !important;
    }
}

@media (max-width: 700px) {
    .modal-bestprice{
        top: 200px;
        transform: none;
    }

    .modal-bestprice-bloc{
        display: flex;
        flex-direction: column;
    }
    .modal-bestprice-left, .modal-bestprice-right {
        width: 100%;
    }
}